<div class="jumbotron">
  <div class="row">
          <div class="col-md-6"><h1 class="text-center">¡Contáctanos!</h1></div>
          <div class="col-md-6"><h4>¿Tiene alguna duda? Con gusto lo apoyaremos, por favor llene el siguiente formulario y en breve nos pondremos en contacto con usted</h4></div>
  </div>
  
</div>
<div class="row ">
  <div class="col-md-3"></div>

  <div class="col-md-6 caja">
      <form action="#" name="datosform" method="POST">
          <table class="form form-group">
              <tr>
                  <th colspan="2">Contáctenos y con gusto resolveremos todas sus dudas a la brevedad posible.</th>
              </tr>
              <tr>
                  <th><label for="txtnombre">Nombre</label></th>
                  <td><input type="text" class="form-control" name="txtnombre" id="txtnombre"  placeholder="Escribe tu Nombre y Apellidos" value="">  </td>
              </tr>
              <tr>
                      <th><label for="txtemail">Email</label></th>
                      <td><input type="email" class="form-control" name="txtemail" id="txtemail"  placeholder="ejemplo@email.com" value="">  </td>
              </tr>
              <tr>
                  <th>
                      <label for="">Telefono</label>
                  </th>
                  <td>
                      <input type="text" class="form-control" name="" id=""  placeholder="Escribe tu Telefono" value="">
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">Local</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">Celular</label>
                      </div>
                               
                  </td>
              </tr>
             
              <tr>
                  <td colspan="2">
                      <div class="form-group">
                       <label for="exampleFormControlTextarea1">Comentarios</label>
                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                          <button type="submit" class="btn btn-primary">Submit</button>
                  </td>
              </tr>
             
              
          </table>

      </form>
      
      
  </div>
  <div class="col-md-3"></div>
 
</div>
<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 caja">
              <h5>Datos de Contacto</h5>
              <h5>Teléfono:</h5>
              <p>5589678909</p>
              <h5>Email:</h5>
              <p>JUAN@GMAIL.COM</p>
              <h5>Horario de atención</h5>
              <p>Lunes a Viernes de 9:00 a.m. a 6:00 p.m. </p>
              <p>CDMX</p>
       </div>
       <div class="col-md-3"></div>
</div>


