

  
   <div class="row">
      <div class="col-md-4">
          <div class="card bg-success">
              <div class="card-header">
                <a href="http://reciclaje-de-electronicos.com.mx/" target="_blank">
                  <img src="../../../assets/images/tarjetas/ecoazteca.png" width="55%"   class="img-fluid" alt="Reciclaje eléctronicos">
                </a>
              </div>
              <div class="card-body">
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.350923463321!2d-99.1169149851246!3d19.35395204820592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fe1c7f8b395f%3A0x6ce58955dcac26e6!2sRecicladora+Ecoazteca!5e0!3m2!1ses-419!2smx!4v1531275560480" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="card-footer">
                Eco Azteca  es la mejor solución para tus desechos esta empresa se dedica especificamente al
                Reciclaje de equipo de cómputo, eléctrico y electrónico

              </div>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card bg-success">
              <div class="card-header">
                <a href="http://www.recallinternacional.com/index.php"  target="_blank">
                  <img src="../../../assets/images/tarjetas/recall.jpg" class="img-fluid" alt="recall">
                </a>
              </div>
              <div class="card-body">
                <div class="row  " >
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d791.3233508372173!2d-99.19786939899508!3d19.36094846304716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d20022412f63f3%3A0xb97b34dfd8f72f73!2sCalz+de+los+Leones+145%2C+%C3%81guilas%2C+01710+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1531266204830" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                
                  </div>   
              </div>
              <div class="card-footer">Recall Internacional es una empresa especialista en el manejo de teléfonos celulares 
                usados. Ofrece soluciones rentables para el acopio, recolección y reciclaje de celulares usados a 
                Organizaciones Sociales, Gobiernos, Empresas y Usuarios.</div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card bg-success">
              <div class="card-header">
                <a href="https://www.theewaste.com" target="_blank">
                  <img src="../../../assets/images/tarjetas/logo.png" width="65%" class="img-fluid" alt="The Ewaste Group">
                </a>
              </div>
              <div class="card-body">
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.3746115387175!2d-98.97505508512528!3d19.309544149607696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fff500000001%3A0xa463493f66f80f3!2sRecicladora+The+Ewaste+Group!5e0!3m2!1ses-419!2smx!4v1531277170754" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="card-footer">
                  Recicladora Electrónica The Ewaste Group es una empresa verde enfocada a recolectar, acopiar y reciclar 
                  toda clase de desechos electrónicos tales como: equipo de cómputo obsoleto, equipo electrónico de oficina,
                  insumos relacionados al cómputo, electrónicos domésticos, etc.
              </div>
          </div>
      </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-success">
                <div class="card-header">
                  <a href="http://www.reciclatronica.com/" target="_blank">
                    <img src="../../../assets/images/tarjetas/reciclatronica.jpg" class="img-fluid" width="30%" alt="Reciclatronica">
                  </a>
                </div>
                <div class="card-body">
                  <div class="row">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3765.2327847104!2d-99.573596!3d19.3157025!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd8a9dfdff9d9b%3A0x50656c49de632aa3!2sreciclatronica!5e0!3m2!1ses!2smx!4v1531927447414" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                    
                </div>
                <div class="card-footer">
                    Empresa Mexicana 100% ambiental, que brinda los servicios de recolección, transporte, almacenaje, 
                    reciclaje y disposición final de los activos de tecnología inservibles u obsoletos, contamos con una cobertura en toda la república Mexicana. 
                </div>
            </div>
          
        </div>
        <div class="col-md-4">
            <div class="card bg-success">
                <div class="card-header">
                  <a href="http://www.recuperamexico.com/" target="_blank">
                    <img src="../../../assets/images/tarjetas/Logo_Sup.gif" class="img-fluid" width="" alt="recuperamexico">
                  </a>
                </div>
                <div class="card-body">
                  <div class="row">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15054.260171608186!2d-99.18944562543948!3d19.38797740755108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf275b5bd538aeed3!2sRecupera+Centro+de+Reciclaje!5e0!3m2!1ses-419!2smx!4v1531278908137" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="card-footer">
                    Recupera cuenta  con varios centros de reciclajes en la CDMX donde no sólo  puedes ir  a dejar tus desechos 
                    electrónicos, también reciben todo tipo de papel y carton, asi como envases de plástico  y metales.
                </div>
            
          
        </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success">
                <div class="card-header">
                  <a href="http://www.desperdicioelectronico.com.mx/index" target="_blank">
                    <img src="../../../assets/images/tarjetas/logotipo.png" class="img-fluid" width="30%" alt="electronico">
                  </a>
                </div>
                <div class="card-body">
                  <div class="row">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1330.8874887525715!2d-99.16497424674783!3d19.355366815137756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffc162d69251%3A0xd47fddbee2bfa57!2sIgnacio+Aldama%2C+Del+Carmen%2C+04100+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1531935501414" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="card-footer">
                  Trielectro es otro centro de reciclaje electronico donde pudes hablarles para que vayan a recojer tus
                  Desperdicios electrónicos (Equipo de cómputo, televisiones, copiadoras, 
                  cable y cualquier aparato electrónico) su lema es  "si se conecta a la energía eléctrica lo reciclamos" 
                </div>
            </div>
            
        </div>
        
      </div>
 