/*estilos de pestaña noticias */
.container{
    max-width: 100%;
    padding-left: 80px;
}

.margen{
    margin-top: 100px;
}

/*tablas de noticias*/
table{/*+++++++++++++++++++++++++++++++*/
    border-radius: .25rem;
    background-color:#ffc107;
    width: 414px;
    height: 453px;
}                                 

.noticias tr td{
    border: 1px solid black;
    
}
.noticias:hover {background-color:#26fb1099;}

/*+++++++++++++++++++++++++++++++*/


@media screen and (max-width: 600px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #ffc107;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}