<div class="container">

  <div class="row margen">
          <div class="col-md-4">
                  <table class="noticias">
                      <tr>
                          <td><h2>Sedema arranca actividades de verano</h2></td>
                      </tr>
                      <tr>
                          <td>
                              <a href="http://www.eluniversal.com.mx/metropoli/sedema-arranca-actividades-de-verano">
                                  <img src="../../assets/images/noticias/sedema.png" class="mx-auto d-block img-thumbnail img-fluid" alt="">
                              </a>
                          </td>
                      </tr>
                          <tr>
                              <td>
                                  <p>Los talleres se impartirán, hasta el 5 de agosto, en los bosques de 
                                      chapultepec, San Juan de Aragón y Tlalpan
                                  </p>
                              </td>
                          </tr>
                  </table>
                  
              </div>
              
              <div class="col-md-4">
                  <table class="noticias">
                      <tr>
                          <td><h2>Olvídate de China: Tailandia ya es el nuevo vertedero electrónico del mundo</h2></td>
                      </tr>
                      <tr>
                          <td>
                              <a href="https://www.elconfidencial.com/mundo/2018-06-15/tailandia-vertedero-basura-electronica-mundo_1578912/">
                                  <img src="../../assets/images/noticias/china.jpg" class="mx-auto d-block img-thumbnail img-fluid" width="70%" alt="">
                              </a>
                          </td>
                      </tr>
                          <tr>
                              <td>
                                  <p>La prohibición china de importar residuos tecnológicos ha hecho que la tecnobasura se desplace a otros países. En lugar de un problema, la junta militar tailandesa lo ha considerado una oportunidad
                                  </p>
                              </td>
                          </tr>
                  </table>
              </div> 
          <div class="col-md-4">
              <table class="noticias">
                  <tr>
                      <td><h2>El reciclaje de residuos eléctricos y electrónicos aumentó en 2017</h2></td>
                  </tr>
                  <tr>
                      <td>
                          <a href="https://www.ambientum.com/ambientum/residuos/el-reciclaje-de-residuos-electricos-y-electronicos-aumento-en-2017.asp">
                              <img src="../../assets/images/noticias/noticia.jpg" class="mx-auto d-block img-thumbnail img-fluid" width="70%" alt="">
                          </a>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p>La prohibición china de importar residuos tecnológicos ha hecho que la tecnobasura se desplace a otros países. En lugar de un problema, la junta militar tailandesa lo ha considerado una oportunidad
                          </p>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
      <div class="row margen">
          <div class="col-md-4">
              <table class="noticias">
                  <tr>
                      <td><h2>Diputado busca impulsar una cultura de reciclaje electrónico</h2></td>
                  </tr>
                      <tr>
                          <td>
                              <a href="https://sipse.com/mexico/reciclaje-electronico-residuos-saluds-medio-ambiente-propuesta-diputado-281048.html">
                                  <img src="../../assets/images/noticias/sedema.png" class="mx-auto d-block img-thumbnail img-fluid" alt="">
                              </a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <p>Desde 2010 se incrementó de tres a nueve kilos la generación de chatarra tecnológica.
                              </p>
                          </td>
                      </tr>
               </table>
          </div>
          <div class="col-md-4">
              <table class="noticias">
                 <tr>
                     <td><h2>Diputado busca impulsar una cultura de reciclaje electrónico</h2></td>
                 </tr>
                     <tr>
                         <td>
                             <a href="https://sipse.com/mexico/reciclaje-electronico-residuos-saluds-medio-ambiente-propuesta-diputado-281048.html">
                                 <img src="../../assets/images/noticias/sedema.png" class="mx-auto d-block img-thumbnail img-fluid" alt="">
                             </a>
                         </td>
                     </tr>
                     <tr>
                         <td>
                             <p>Desde 2010 se incrementó de tres a nueve kilos la generación de chatarra tecnológica.
                             </p>
                         </td>
                     </tr>
              </table>
          </div>
          <div class="col-md-4">
              <table class="noticias">
                 <tr>
                     <td><h2>Diputado busca impulsar una cultura de reciclaje electrónico</h2></td>
                 </tr>
                     <tr>
                         <td>
                             <a href="https://sipse.com/mexico/reciclaje-electronico-residuos-saluds-medio-ambiente-propuesta-diputado-281048.html">
                                 <img src="../../assets/images/noticias/sedema.png" class="mx-auto d-block img-thumbnail" alt="">
                             </a>
                         </td>
                     </tr>
                     <tr>
                         <td>
                             <p>Desde 2010 se incrementó de tres a nueve kilos la generación de chatarra tecnológica.
                             </p>
                         </td>
                     </tr>
              </table>
           </div>
      </div>
</div>