 <!-- carousel -->
                      
 <div id="carouselExampleIndicators"  class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <a href="https://www.youtube.com/watch?v=k1tD_J6Xvkg" target=”_blank”>
              <img class="d-block w-100" src="../../../assets/images/carousel/robot.jpg" alt="robot">

        </a>
      
      <div class="carousel-caption d-none d-md-block">
              <h5>ROBOTS</h5>
              <p>Los desechos electronicos sirven para hacer ROBOTS</p>
      </div>
    </div>
    <div class="carousel-item">
      <a routerLink="/noticias" target=”_blank”>
        <img class="d-block w-100" src="../../../assets/images/carousel/technical-647480_960_720.jpg" alt="electronico">
      </a>

      <div class="carousel-caption d-none d-md-block">
          <h5 class="">Olvídate de China: </h5>
          <p class="">Tailandia ya es el nuevo vertedero electrónico del mundo</p>
      </div>
      
    </div>
    <div class="carousel-item">
      <a href="http://data.sedema.cdmx.gob.mx/reciclatron/calendario.html#.W0-A4dJKiUk" target=”_blank”>
        <img class="d-block w-100" width="100%" src="../../../assets/images/carousel/sedema2.jpg" alt="CALENDARIO SEDEMA">
      </a>

      <div class="carousel-caption d-none d-md-block">
          <h5 class="titulo">Consulta el Calendario Reciclatron de la SEDEMA</h5>
          <p class="titulo">Son eventos Totalmente Gratuitos</p>
      </div>
      
    </div>
    <div class="carousel-item">
      <a routerLink="/noticias" target=”_blank”> 
        <img class="d-block w-100" src="../../../assets/images/carousel/car1.jpg" alt="gabinetes">
      </a>
         
          <div class="carousel-caption d-none d-md-blosck ">
            <h5 class="">
                El reciclaje de residuos eléctricos y electrónicos aumentó en 2017</h5>
            <p class=""></p>
          </div>
        </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="jumbotron">
  <h1>Centros de reciclaje electronico en CDMX </h1>
  <p>Aqui te decimos todo lo que debes saber sobre reciclaje electronico</p>
</div> 