
    <div class="jumbotron">
        <h1>Tipos de Residuos </h1>
        <p>Aqui te decimos todo lo que debes saber sobre reciclaje electronico</p>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Categoría tipo A</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Categoría tipo B</a>
         </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Categoría tipo C</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">Categoría tipo D</a>
        </li>
         <li class="nav-item">
             <a class="nav-link" data-toggle="tab" href="#menu4">Categoría tipo E</a>
        </li>
    </ul>
<div class="tab-content">
    <div class="tab-pane container active" id="home">
      <table class="categorias">
          <tr>
              <td>
                  Teclados, impresoras, faxes, DVDs/VHS/Beta, MP3, mini consolas, cámaras fotográficas, cámaras de video, PDAs, escáner, mini componentes, radiograbadoras, consolas amplificadoras, teléfonos fijos, teléfonos inalámbricos, proyectores, No-breakers, mouse/ratón, radios, radios de coche, multiplexores, amplificadores/bocinas, ecualizador, microondas, aspiradoras, licuadoras, planchas, lavaplatos, secadoras de platos, cafeteras, secadoras de pelo, motores.
              </td>
              <td width="400px">
                  
                      <img src="../../assets/images/tipos/ewaste.png" class="mx-auto d-block" width="90%" alt="imagen">
                  
              </td>
          </tr>
      </table>
      
    </div>
    <div class="tab-pane container" id="menu1">
    <table class="categorias">
        <tr>
            <td>
              CPUs, monitores, laptops, mini laptops, discos duros, tarjetas varias y televisiones. 
            </td>
            <td width="400px">
                
                    <img src="../../assets/images/tipos/apple.png" class="mx-auto d-block" width="100%" alt="imagen">
                
            </td>
        </tr>
    </table>
    
    </div>
  <div class="tab-pane container fade" id="menu2">
    <table class="categorias">
            <tr>
                <td width="20%">
                     Celulares y pilas.
                </td>
                <td>
                    
                        <img src="../../assets/images/tipos/tipospilas.png" width="90%" alt="imagen">
                    
                </td>
                <td>
                        
                            <img src="../../assets/images/tipos/celulares.jpg" width="100%" alt="imagen">
                        
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane container fade" id="menu3">
    <table class="categorias">
            <tr>
                <td>
                    Cargadores, cables, discos y películas. 
                </td>
                <td>
                    
                        <img src="../../assets/images/tipos/cargadores.png" width="80%" alt="imagen">
                    
                </td>
                <td>
                        
                            <img src="../../assets/images/tipos/Disco.png" width="80%" alt="imagen">
                        
                    </td>
            </tr>
    </table>
    
    </div>
    <div class="tab-pane container fade" id="menu4">
      <table class="categorias">
            <tr>
                 <td>
                    Balastras, monitores, pantallas, pilas alcalinas, transformador, TV´s lamparas, refrigeradores, toners. 
                <td>
                    
                        <img src="../../assets/images/tipos/basura.jpg" width="100%" alt="imagen">
                    
                </td>
            </tr>
       </table>
    </div>
    </div>
    <div class="row videos">
  <div class="col-md-6">
      <table>
          <tr>
              <th>titulo del video</th>
          </tr>
          <tr>
              <td>
                      <iframe width="560" height="415" src="https://www.youtube.com/embed/k1tD_J6Xvkg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </td>    
          </tr>
      </table>   
    </div>
    <div class="col-md-6">
          <table>
              <tr>
                  <th>titulo del video</th>
              </tr>
              <tr>
                  <td>
                    <iframe width="560" height="415" src="https://www.youtube.com/embed/XlNA2kK_IM4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </td>    
              </tr>
          </table>   
      </div>
    </div>
    <div class="row videos ">
      <div class="col-md-6">
          <table>
              <tr>
                  <th>titulo del video</th>
              </tr>
              <tr>
                  <td>
                          <iframe width="560" height="415" src="https://www.youtube.com/embed/k1tD_J6Xvkg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </td>    
              </tr>
          </table>   
      </div>
      <div class="col-md-6">
              <table>
                  <tr>
                      <th>titulo del video</th>
                  </tr>
                  <tr>
                      <td>
                              <iframe width="560" height="415" src="https://www.youtube.com/embed/k1tD_J6Xvkg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </td>    
                  </tr>
              </table>   
          </div>
    </div>

