/* You can add global styles to this file, and also import other style files */

.fondo{
    background-image: url(./assets/images/fondocuadro.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: 0,0;
    background-attachment: fixed;
    

}